.contents{
    margin-left: 0px;
}

#i1{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#i2{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#i3{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#pa1{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px; 
}

#he1{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.third{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -216px;
    margin-bottom: 200px; 
}

#b1{
    margin-left: 1100px;
    margin-right: 0px;
    margin-top: -216px;
    margin-bottom: 0px;
}